.cont{
  max-width: 600px;
  margin: 0 auto;
}
.icon {
  height: 36px;
  width: 251.8px;
  position: relative;
}
.empty-frame {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.group-frame {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 557px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
  font-family: var(--font-arial);
}
.mrt-2-icon {
  pointer-events: none;
  height: 246px;
  width: 269px;
  position: absolute;
  margin: 0 !important;
  bottom: 11px;
  left: -18px;
  object-fit: cover;
  z-index: 2;
}
.hz,.desc-frame{
  text-decoration: none !important;

  color: white
}
.photogenica-logo-child {
  z-index: 1000;
  height: 290px;
  width: 600px;
  position: relative;
  background: linear-gradient(260.07deg, #008ecb, #00245b 51.04%, #000);
  display: none;
  max-width: 100%;
}
.ellipse-one {
  position: absolute;
  top: 63px;
  left: 0;
  border-radius: 50%;
  background-color: #21d7ff;
  filter: blur(70px);
  width: 142px;
  height: 142px;
  z-index: 1;
}
.photogenica-phx192024078-1-icon {
  position: absolute;
  top: 0;
  left: 61px;
  width: 184px;
  height: 156px;
  object-fit: cover;
  z-index: 3;
}
.background-frame {
  height: 205px;
  width: 245px;
  position: relative;
  min-width: 245px;
}
.div1,
.h2 {
  position: relative;
  z-index: 1;
}
.h2 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.div1 {
  width: 244px;
  font-size: var(--font-size-base);
  line-height: 22px;
  color: var(--color-white);
  display: inline-block;
  padding-right: var(--padding-xl);
}
.desc-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.b,
.frame-child {
  position: relative;
}
.frame-child {
  height: 40px;
  width: 132px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.b {
  font-size: 14px;
  font-family: var(--font-arial);
  color: var(--color-darkslateblue-100);
  text-align: left;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-7xl) var(--padding-xs) 27px;
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent:hover {
  background-color: #e6e6e6;
}
.why-hurts-spine {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.m-r-t-analysis-frame,
.m-r-t-study-group,
.photogenica-logo,
.why-hurts-spine {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.m-r-t-study-group {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 201px;
}
.m-r-t-analysis-frame,
.photogenica-logo {
  flex-direction: row;
  max-width: 100%;
}
.photogenica-logo {
  flex: 1;
  background: linear-gradient(260.07deg, #008ecb, #00245b 51.04%, #000);
  padding: var(--padding-7xl) 0 var(--padding-23xl) 46px;
  box-sizing: border-box;
  row-gap: 20px;
}
.m-r-t-analysis-frame {
  align-self: stretch;
  position: relative;
}
.m-r-t-analysis-frame-wrapper {
  position: absolute;
  top: 64px;
  left: -18px;
  width: 618px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 18px;
  box-sizing: border-box;
  text-align: left;
  font-size: 30px;
  color: #f5faff;
  font-family: var(--font-arial);
}
.frame-item,
.why-hurts-head {
  position: absolute;
  height: 100%;
  border-radius: var(--br-3xs);
}
.frame-item {
  top: 0.1px;
  left: 0.2px;
  background: linear-gradient(97.71deg, #00b0ff, #002f77);
  width: 100%;
  display: none;
}
.why-hurts-head {
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 246.5px;
  object-fit: contain;
  z-index: 1;
}
.p,
.p1 {
  margin: 0;
}
.div2,
.h21 {
  position: absolute;
  display: inline-block;
  z-index: 2;
}
.h21 {
  margin: 0;
  top: 15px;
  left: 224.2px;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  width: 209px;
}
.div2 {
  top: 87.1px;
  left: 222.2px;
  font-size: var(--font-size-base);
  line-height: 22px;
  width: 315px;
}
.desc {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-arial);
  color: #012253;
  white-space: pre-wrap;
  text-align: left;
  z-index: 3;
}
.union-5-icon,
.unionframe-child {
  position: absolute;
  overflow: hidden;
}
.unionframe-child {
  height: 100%;
  width: 100%;
  top: 0.1px;
  right: 0;
  bottom: -0.1px;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}
.union-5-icon {
  top: 9.1px;
  left: 10px;
  width: 23.8px;
  height: 24px;
  z-index: 3;
}
.unionframe {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.whyhurtsframe {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-2xs)
    var(--padding-23xl);
  background-color: transparent;
  position: absolute;
  top: 153px;
  left: 224.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.rectangle-group {
  position: absolute;
  top: 922px;
  left: 23.8px;
  border-radius: var(--br-3xs);
  background: linear-gradient(97.71deg, #00b0ff, #002f77);
  width: 552.2px;
  height: 214.1px;
  text-align: left;
  font-size: 26px;
  color: var(--color-white);
  font-family: var(--font-arial);
}
.frame-inner {
  width: 264px;
  height: 264px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightblue);
  display: none;
}
.div3,
.h3 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.h3 {
  margin: 0;
  height: 50px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.div3 {
  font-size: var(--font-size-base);
  line-height: 22px;
}
.headingframes1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.desc1,
.union-5-icon1 {
  position: relative;
  z-index: 1;
}
.union-5-icon1 {
  height: 24px;
  width: 23.8px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.desc1 {
  white-space: pre-wrap;
}
.mrtdescframe {
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
.mrtdescframe,
.rectangle-container,
.registerframe {
  display: flex;
  justify-content: flex-start;
}
.registerframe {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-lg);
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightblue);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-17xl) var(--padding-xl) 28px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 244px;
}
.image-140-1 {
  height: 264px;
  width: 264px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 264px;
}
.headingframes {
  position: absolute;
  top: 634px;
  left: 27px;
  width: 549px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-arial);
}
.photogenica-phx433790490-1-icon {
  top: 632px;
  left: 318px;
  width: 252px;
  height: 266px;
  z-index: 1;
}
.icon1,
.mrtsmallspineframe-icon,
.photogenica-phx433790490-1-icon {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
}
.icon1 {
  height: 70.17%;
  width: 46.24%;
  top: 16.89%;
  right: 29.18%;
  bottom: 12.95%;
  left: 24.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mrtsmallspineframe-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.parent {
  position: absolute;
  height: 15.45%;
  width: 45.7%;
  top: 22.95%;
  right: -1.2%;
  bottom: 61.6%;
  left: 55.5%;
  z-index: 2;
  pointer-events: none;
}
.onlineconsultframes-child {
  z-index: 10000;
  width: 552px;
  height: 207px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-deepskyblue);
  transform: rotate(180deg);
  display: none;
  max-width: 100%;
}
.div4,
.h31 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.h31 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.div4 {
  font-size: var(--font-size-base);
  line-height: 22px;
}
.head-pain-frame {
  width: 313px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.desc2 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-arial);
  color: var(--color-darkslateblue-100);
  white-space: pre-wrap;
  text-align: left;
  z-index: 2;
}
.rectangle-icon,
.union-5-icon2 {
  position: absolute;
  overflow: hidden;
}
.rectangle-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
.union-5-icon2 {
  top: 9px;
  left: 10px;
  width: 23.8px;
  height: 24px;
  z-index: 2;
}
.vector-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.small-taz-mri-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-7xl) var(--padding-2xs)
    var(--padding-23xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.onlineconsultframes {
  position: absolute;
  top: 401px;
  left: 24px;
  border-radius: var(--br-3xs);
  background-color: var(--color-deepskyblue);
  width: 552px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl) 22px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-arial);
}
.rectangle-div {
  height: 160px;
  width: 554px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  display: none;
  max-width: 100%;
}
.span {
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.image-1-icon,
.image-2-icon,
.telemedex {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.telemedex {
  line-height: 22px;
}
.image-1-icon,
.image-2-icon {
  width: 117px;
  max-height: 100%;
  object-fit: cover;
  min-height: 38px;
}
.image-2-icon {
  width: 138px;
  z-index: 2;
}
.online-mrt-expert-frame,
.telemed-expert-logo,
.telemedex-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.online-mrt-expert-frame,
.telemedex-parent {
  flex-direction: column;
}
.telemedex-parent {
  align-self: stretch;
  gap: var(--gap-xl);
}
.online-mrt-expert-frame {
  flex: 1;
  padding: 0 0 4px;
  box-sizing: border-box;
  min-width: 219px;
  max-width: 100%;
}
.icon2 {
  height: 99px;
  width: 110px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frame-section {
  position: absolute;
  top: 1161px;
  left: 23px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  width: 554px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-11xl) var(--padding-11xl)
    var(--padding-17xl);
  box-sizing: border-box;
  gap: 41px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-arial);
}
.subscribe-to-us-frame-child {
  width: 600px;
  height: 215px;
  position: relative;
  background-color: var(--color-ghostwhite);
  display: none;
  max-width: 100%;
}
.group-icon,
.image-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.2px;
  height: 23.2px;
  z-index: 1;
}
.image-1-icon1 {
  left: 31.2px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.frame-parent {
  width: 54px;
  height: 23px;
  position: relative;
}
.div5,
.wwwmrtexpertru {
  position: relative;
  line-height: 20px;
  z-index: 1;
}
.wwwmrtexpertru {
  text-decoration: underline;
  color: var(--color-dodgerblue);
}
.footer-subscription-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.div6 {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  color: #aeaeae;
  text-align: left;
  z-index: 1;
}
.subscribe-to-us-frame {
  position: absolute;
  top: 1345px;
  left: 0;
  background-color: var(--color-ghostwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-12xl) 41px;
  box-sizing: border-box;
  gap: var(--gap-18xl);
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-arial);
}
.div {
  width: 100%;
  height: 1560px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .background-frame {
    flex: 1;
  }
  .photogenica-logo {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div {
    height: auto;
    min-height: 1560;
  }
}
@media screen and (max-width: 450px) {
  .h21 {
    font-size: 21px;
    line-height: 24px;
  }
  .h3,
  .h31 {
    font-size: var(--font-size-lg);
  }
  .subscribe-to-us-frame {
    gap: var(--gap-18xl);
  }
}
